@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
}
header{
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: rgb(245, 55, 172);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: rgb(245, 55, 172);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
    font-size: 1em;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:rgb(245, 55, 172);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content:flex-end;
    padding-right: 50px;
    margin-top: 100px;
}
.content .imgBox img{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top:50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(245, 55, 172);
    clip-path: circle(350px at right 500px);
}
.Cardapio .fourdonut{
    max-width: 200px;
    display: flex;
    justify-content:flex-end;
    position: relative;
    left: -15px;
    top:350px;
}
.Cardapio {
    background-color:rgb(255, 255, 255);
}
.cardapio-text h2{
    color: rgb(245, 55, 172);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 800;
    display: flex;
    justify-content: space-evenly;
   position: relative;
    left:220px ;
}
.Cardapio .circle2 {
    position: absolute;
    top:-100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(245, 55, 172);
    clip-path: circle(350px at right 1px);
}


.Cardapio .cad-img  {
    position: relative;
    left:215px;
    max-width: 450px;
}
.Cardapio .cad-img1{
    max-width: 450px;
    position: relative;
    left:210px;
}
.Combos-especiais .caixadonuts{
    position: relative;
    left: 40px;
    min-width: 400px;
}
.Combos-especiais .circle3 {
    position: absolute;
    top: 60px;
    left: -660px;
    width: 120%;
    height: 100%;
    background: rgb(245, 55, 172);
    clip-path: circle(35%);}
    
 .Combos-especiais h3{
    color: rgb(245, 55, 172);
    font-size: 5em;
    line-height: 1em;
    font-weight: 800;
   position: relative;
    left:800px ;
    top: 210px;
 }
 .cboox{
    position: absolute;
    left: 74%;
    top: 68%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.cboox li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.cboox li:hover{
    transform: translateY(-15px);
}
.cboox li img{
    max-width: 60px; }
.box0 {
        margin-bottom:3em;
        height:3em;
        position:absolute;
        left: 900px;
        top: 550px;
        margin-top: 20px;
        padding: 8px 20px;
        background:rgb(245, 55, 172);
        color: #fff;
        border-radius: 40px;
        border: 2px;
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration:none;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.Combos-especiais .combo-text p{
    position: relative;
    left: 630px;
    top:230px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 200px;
}